<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100886085751-064d5n59hijn3pcv741f8e3prhf75dum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100886085751-064d5n59hijn3pcv741f8e3prhf75dum</string>
	<key>API_KEY</key>
	<string>AIzaSyC_VX5nVKUOndHV-VLs92VWPrnRyA3QByI</string>
	<key>GCM_SENDER_ID</key>
	<string>100886085751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mbkmall.app</string>
	<key>PROJECT_ID</key>
	<string>mbk-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>mbk-mall.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100886085751:ios:9c6b7bd6c0ad301cbf8672</string>
	<key>DATABASE_URL</key>
	<string>https://mbk-mall-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>